nav{
    margin: 2em;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 8px;
    padding: 20px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
}

a:hover {
    background-color: white;
  }
a {
    color: black;
  }

a:active {
    color: grey;
  }

a:link {
    text-decoration: none;
  }
.navigation_link {
    padding: 12 6em 12 6em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.headerImage {
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

 

 h1 
{
padding: 1%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-transform: uppercase;
font-size: 60px;
font-weight: 600;
text-align: center;
letter-spacing: 8px;
opacity: .75;
background-color: whitesmoke;
}

h2
{
    padding: 3%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 8px;
    opacity: .75;
    background-color: whitesmoke;    
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 60%;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexItem {
    justify-content: center;
    flex-basis: 33%;
}

ul {
    list-style: none;
    padding: 0; 
}
li {
    padding: 3%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-align: center;
    letter-spacing: 6px;
    opacity: .75;
    }

.bordered {
border: 1px solid black;
}