.countryList {
    flex-basis: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.country__image {
    width: 15rem;
    height: 15rem;
}

.tipList {
    flex-basis: 20%;
}

.tip {
    margin: 1rem 0 2rem 0;
}