.footer {
    display: flex;
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-around;
    margin-top: 2em;
    letter-spacing: 3px;
    padding-left: 5%;
    padding-right: 5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
