.country__image {
    width: 15rem;
    height: 15rem;
    justify-content: space-evenly;
  
}

.list__within__dialogbox {
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    opacity: .75;
    list-style-position: unset;
}

.country__reasons {
    font-size: 15px;
    flex-wrap: wrap;
}

.country {
    display: inline-table; 
}

