@import "header.css";
@import "footer.css";
@import "nav.css";
@import "index.css";
@import "background.css";

.page__title {
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 8px;
    opacity: .75;
    background-color: whitesmoke;
}


.list__title {
    padding: 3%;
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 6px;
    opacity: .75;
    background-color: whitesmoke;    
}

.list__container {
    justify-content: center;
    flex-basis: 30%;
    border: solid 1px rgb(0, 0, 0);
    transition: border-width 0.9s linear;
}
  
.list__container:hover { 
    border-width: 2.5px; 
}

.list__within__container {
    list-style: none;
    padding: 3%;
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 8px;
    opacity: .75;
    background-color: whitesmoke;
}

.country__lists {
    border: 1px solid black;
    padding: 2%;
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    opacity: .75;
    list-style: none;
    display: flex;
    flex-basis: 60%;
    justify-content: space-between;
}

