nav{
    margin: 2em;
    padding: 1%;
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 8px;
    padding: 20px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
}

.navigation__link:hover {
    background-color: white;
}

.navigation__link {
    color: black;
}

.navigation__link:active {
    color: grey;
}

.navigation__link:link {
    text-decoration: none;
}
